<!DOCTYPE html>
<html>
    <head>
        <!-- OneTrust Cookies Consent Notice start for documents.cellsearchctc.com -->
        <script type="text/javascript" src="https://cdn.cookielaw.org/consent/3cab6a5d-92e0-4a4f-aeef-a97f086fea3c/OtAutoBlock.js"></script>
        <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="3cab6a5d-92e0-4a4f-aeef-a97f086fea3c"></script>
        <script type="text/javascript">
            function OptanonWrapper() {}
        </script>
        <!-- OneTrust Cookies Consent Notice end for documents.cellsearchctc.com -->
        <title>CELLSEARCH ® IFU Documents</title>
        <link rel="shortcut icon" href="/themes/ohg_documents/images/favicon.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="google-site-verification" content=""/>
        <link type="text/css" rel="stylesheet" media="all" href="/themes/ohg_docs_site/css/styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta
        http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!--Google Tag will be here in production -->

        <style>
            #ot-sdk-btn.ot-sdk-show-settings:hover,
            #ot-sdk-btn.optanon-show-settings:hover,
            #ot-sdk-btn.ot-sdk-show-settings,
            #ot-sdk-btn.optanon-show-settings,
            #ot-sdk-btn,
            #ot-sdk-btn.ot-sdk-show-settings:hover,
            #ot-sdk-btn.optanon-show-settings:hover,
            #ot-sdk-btn.ot-sdk-show-settings,
            #ot-sdk-btn.optanon-show-settings {
                color: white !important;
                border: 1px solid #2981B3 !important;
                background-color: #2981B3 !important;
            }
        </style>
    </head>
    <body>
        <header>

            <div class="content-wrapper header-wrapper">
                <div class="top-banner">
                    <div class="content-wrapper">
                        <a href="https://www.cellsearchctc.com/" style="color:#FFFFFF;" class="hide-on-desktop">WWW.CELLSEARCHCTC.COM</a>
                    </div>
                </div>
                <a href="http://www.cellsearchctc.com">
                    <img src="/themes/ohg_docs_site/images/img_logo.png" alt="CELLSEARCH® CTC" class="logo">
                </a>
                <div class="top-training-portal">&nbsp;
                </div>
                <h2>
                    <a href="http://www.cellsearchctc.com" target="_blank" class="hide-on-mobile">
                        www.cellsearchctc.com</a>
                </h2>
            </div>

        </header>


        <div class="content-wrapper nav-wrapper">
            <img src="http://cellsearchctc.cllstg.net/sites/all/themes/cellsearchctc/images/MDOsubbanner4.jpg" style="width:100%" alt="" class="hide-on-mobile"/>


            <img src="/themes/ohg_docs_site/images/banner_m.png" style="width:100%" alt="" id="imgBanner" class="hide-on-desktop"/>


            {{ page.content }}
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>


            <script>

                function update_country(country_value) {
                    console.log(country_value);
                    // console.log('changed country', $(this).val());
                    var countryCode = country_value;
                    if ('all' == countryCode) {
                        $('.country-specific').hide();
                        $('.country-not-specific').show();
                        $('.all').css('visibility', 'visible');
                    } else {
                        $('.country-' + countryCode).show();
                        $('.country-not-' + countryCode).hide();
                    }

                    $('.all, .language-list h1').hide();
                    $('.content-list li').hide();
                    if ($('.prompt.' + this.value).length > 0) {
                        $('.prompt.' + this.value).fadeIn('slow');
                        $('#selectLanguage').attr('disabled', 'disabled');
                    } else {
                        $('.language-list h1').show();
                        $('.pt').hide();
                        $('#selectLanguage').removeAttr('disabled');
                        toggleLanguage($('#selectLanguage').val());
                    }


                    if (countryCode === 'CN' || countryCode === 'SG') {
                        $('.optChinese').show();
                    } else {
                        $('.optChinese').hide();
                    }

                    if (countryCode === 'CA' || countryCode === 'SG') {
                        $('li.all a').each(function (i, e) {

                            var href = $(e).attr('href');

                            if ((href.indexOf('e631600045') > -1) || (href.indexOf('e631600015') > -1) || (href.indexOf('e631600005') > -1)) { //                     console.log(href);
                                $(this).parent().css('visibility', 'hidden');
                            }
                        });
                    }


                    if ($('#selectLanguage').val() === 'chinese' && (countryCode !== 'CN' && countryCode !== 'SG')) {
                        $('#selectLanguage').val('all');
                        $('.all, .language-list h1').hide();
                        $('.content-list li').hide();
                        toggleLanguage('all');

                    }

                }
            </script>


            <footer>
                <div style="float:left;height:1px;background-color:#000;" class="bar"></div>
                <div class="footerLeft">
                    <p class="copyright">&copy; Menarini Silicon Biosystems Inc 2022. All rights reserved. This site is published by Menarini Silicon Biosystems, Inc, which is solely responsible for its contents. It is intended for global audience. Last updated on: November 18, 2022.</p>
                    <div class="footer-links-wrapper">
                        <ul class="footer-links-list">
                            <li>
                                <a href="https://www.cellsearchctc.com/terms-use" class="footer-links">Terms of Use</a>
                            </li>
                            <li>
                                <a href="https://www.cellsearchctc.com/privacy-policy" class="footer-links">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://www.cellsearchctc.com/cookie-policy" class="footer-links">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="https://www.cellsearchctc.com/contact-us" class="footer-links">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footerRight">

                    <a href="https://www.siliconbiosystems.com/"><img style="height:auto;margin-left:20px;top:25px;position:relative;" src="/themes/ohg_docs_site/images/menarini_logo.png" class="janssen"/></a>

                </div>
                <!-- OneTrust Cookies Settings button start -->

                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>

                <!-- OneTrust Cookies Settings button end -->

            </footer>
        </div>


    </body>
</html>
