<!DOCTYPE html>
<html>
<head>
    <!-- OneTrust Cookies Consent Notice start for documents.cellsearchctc.com -->
<script type="text/javascript" src="https://cdn.cookielaw.org/consent/3cab6a5d-92e0-4a4f-aeef-a97f086fea3c/OtAutoBlock.js" ></script>
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="3cab6a5d-92e0-4a4f-aeef-a97f086fea3c" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end for documents.cellsearchctc.com -->
    <title>CELLSEARCH® IFU Documents</title>  
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/themes/ohg_docs_site/css/styles.css"/>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
      <!--Google Tag will be here in production -->
 
    <style>
        #ot-sdk-btn.ot-sdk-show-settings:hover, #ot-sdk-btn.optanon-show-settings:hover,
#ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings,
#ot-sdk-btn,
#ot-sdk-btn.ot-sdk-show-settings:hover, 
#ot-sdk-btn.optanon-show-settings:hover, 
#ot-sdk-btn.ot-sdk-show-settings, 
#ot-sdk-btn.optanon-show-settings {
    color: white !important;
    border: 1px solid #2981B3 !important;
    background-color: #2981B3 !important;
}


</style>
</head>
<body>
<header>
    
    <div class="content-wrapper header-wrapper">
    <div class="top-banner">
        <div class="content-wrapper">
            <a href="https://www.cellsearchctc.com/" style="color:#FFFFFF;" class="hide-on-desktop">WWW.CELLSEARCHCTC.COM</a>
        </div>
    </div>
        <a href="http://www.cellsearchctc.com"> <img src="../images/img_logo.png" alt="CELLSEARCH® CTC" class="logo"> </a>
        <div class="top-training-portal">&nbsp; </div>
        <h2><a href="http://www.cellsearchctc.com" target="_blank" class="hide-on-mobile"> www.cellsearchctc.com</a></h2>
    </div>
    
</header>


<div class="content-wrapper nav-wrapper">
    <img src="http://cellsearchctc.cllstg.net/sites/all/themes/cellsearchctc/images/MDOsubbanner4.jpg" style="width:100%" alt=""  class="hide-on-mobile"
    />

    
    
    <img src="images/banner_m.png" style="width:100%" alt=""  id="imgBanner" class="hide-on-desktop"/>
    
<script>

//select dropdown menu
$ = jQuery.noConflict();

$(document).ready(function() {
    document.createElement('header');
    document.createElement('nav');
    document.createElement('menu');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    //language
    $('.all, .pt').hide();

    $('.optChinese').hide();
    
    $('.country-CN').hide();
    $('.country-SG').hide();
    $('#selectLanguage').attr('disabled', 'disabled');
    $('#selectLanguage').change(function(event) {
         console.log('changed language', $(this).val());
         
         if ($('#selectCountry').val() == 'CA' || $('#selectCountry').val() == 'SG') {
             $('li.all a').each(function(i,e) {
            
                 var href = $(e).attr('href');
               
                if ( (href.indexOf('e631600045') > -1) || (href.indexOf('e631600015') > -1) || (href.indexOf('e631600005') > -1) ) {
//                     console.log(href);
                    $(this).parent().css('visibility','hidden');
                }
             });
         }
        $('.all, .language-list h1').hide();
        $('.content-list li').hide();
        toggleLanguage(this.value);
    });

    //country
    $('#selectCountry').change(function(event) {
        // console.log('changed country', $(this).val());
        var countryCode = $(this).val();
        if ('all' == countryCode) {
            $('.country-specific').hide();
            $('.country-not-specific').show();
            $('.all').css('visibility','visible'); 
        } else {
            $('.country-' + countryCode).show();
            $('.country-not-' + countryCode).hide();
        }

        $('.all, .language-list h1').hide();
        $('.content-list li').hide();
        if ($('.prompt.' + this.value).length > 0) {
            $('.prompt.' + this.value).fadeIn('slow');
            $('#selectLanguage').attr('disabled', 'disabled');
        }
        else {
            $('.language-list h1').show();
            $('.pt').hide();
            $('#selectLanguage').removeAttr('disabled');
            toggleLanguage($('#selectLanguage').val());
        }


        if(countryCode === 'CN' || countryCode === 'SG'){
            $('.optChinese').show();
        } else {
            $('.optChinese').hide();
        }
        
        if (countryCode === 'CA' || countryCode === 'SG') {
            $('li.all a').each(function(i,e) {
            
                 var href = $(e).attr('href');
               
                if ( (href.indexOf('e631600045') > -1) || (href.indexOf('e631600015') > -1) || (href.indexOf('e631600005') > -1) ) {
//                     console.log(href);
                    $(this).parent().css('visibility','hidden');
                }
             });
        }
        
        

        if($('#selectLanguage').val() === 'chinese' && (countryCode !== 'CN' && countryCode !== 'SG')){
            $('#selectLanguage').val('all');
            $('.all, .language-list h1').hide();
            $('.content-list li').hide();
            toggleLanguage('all');

        }


    });

    $('.it').change(function(event) {
        $('.all, .language-list h1').hide();
        $('.prompt').fadeIn('slow');
    });

    $('.prompt .accept').click(function() {
        toggleLanguage($('#selectLanguage').val());
        $('#selectLanguage').removeAttr('disabled');
    });
    $('.prompt .reject').click(function() {
        $('.prompt-one').hide();
        $('.reject-message', $(this).parents('.prompt')).fadeIn('slow');
    });

});

function toggleLanguage(language) {
    if (language == 'all') return;
    $('.' + language).fadeIn('slow');
    $('.prompt').hide();
    $('.prompt-one').show();
    $('.reject-message').hide();

    $('.language-list h1').each(function() {
        if ($(this).next('ul').find('li:visible').length === 0) {
            $(this).hide();
        } else {
            $(this).show();
        }
    });
}

</script>
    

<div class="" id="txtInstruction"  style="font-family: 'Oswald';
    
    font-weight: 200;
    margin-top: 40px;
    color: #2981B3;
    margin-left: 20px;">
    Instructions for Use
</div>
    <nav class="country">    
        <p>Country:</p>
        <div style="position:relative;">
        <img src="images/dropdown-arrow.png" style="position:absolute;top:82px;z-index:1;width:27px;" class="select_arrow"/>
            <div class="select-wrap">
                <select id="selectCountry">
                    <option selected="selected" value="all">Select One</option>
                    <option value="all">Algeria</option>
                    <option value="all">Argentina</option>
                    <option value="all">Armenia</option>
                    <option value="all">Australia</option>
                    <option value="all">Azerbaijan</option>
                    <option value="all">Bangladesh</option>
                    <option value="all">Barbados</option>
                    <option value="all">Belarus</option>
                    <option value="all">Belgium</option>
                    <option value="all">Bermuda</option>
                    <option value="all">Bolivia</option>
                    <option value="all">Bosnia and Herzegovina</option>
                    <option value="all">Brazil</option>
                    <option value="all">Brunei</option>
                    <option value="all">Bulgaria</option>
                    <option value="all">Burma(Myanmar)</option>
                    <option value="CA">Canada</option>
                    <option value="all">Chile</option>
                    <option value="CN">China</option>
                    <option value="all">Colombia</option>
                    <option value="all">Costa Rica</option>
                    <option value="all">Croatia</option>
                    <option value="all">Czech Republic</option>
                    <option value="all">Denmark</option>
                    <option value="all">Ecuador</option>
                    <option value="all">Egypt</option>
                    <option value="all">El Salvador</option>
                    <option value="all">Estonia</option>
                    <option value="all">Finland</option>
                    <option value="all">France</option>
                    <option value="all">French Antilles</option>
                    <option value="all">French Guayana</option>
                    <option value="all">Georgia</option>
                    <option value="all">Germany</option>
                    <option value="all">Greece</option>
                    <option value="all">Guadeloupe</option>
                    <option value="all">Guatemala</option>
                    <option value="all">Haiti</option>
                    <option value="all">Honduras</option>
                    <option value="all">Hong Kong</option>
                    <option value="all">Hungary</option>
                    <option value="all">Iceland</option>
                    <option value="all">India</option>
                    <option value="all">Indonesia</option>
                    <option value="all">Iran</option>
                    <option value="all">Iraq</option>
                    <option value="all">Ireland</option>
                    <option value="all">Israel</option>
                    <option value="it">Italy</option>
                    <option value="all">Jamaica</option>
                    <option value="all">Japan</option>
                    <option value="all">Kenya</option>
                    <option value="all">Korea (South)</option>
                    <option value="all">Kuwait</option>
                    <option value="all">Kyrgystan</option>
                    <option value="all">Latvia</option>
                    <option value="all">Lebanon</option>
                    <option value="all">Liberia</option>
                    <option value="all">Libya</option>
                    <option value="all">Lichtenstein</option>
                    <option value="all">Lithuania</option>
                    <option value="all">Luxembourg</option>
                    <option value="all">Malaysia</option>
                    <option value="all">Maldives</option>
                    <option value="all">Malta</option>
                    <option value="all">Martinique</option>
                    <option value="all">Mexico</option>
                    <option value="all">Moldova</option>
                    <option value="all">Morocco</option>
                    <option value="all">N & C Africa</option>
                    <option value="all">Nepal</option>
                    <option value="all">Netherlands</option>
                    <option value="all">New Zealand</option>
                    <option value="all">Nicaragua</option>
                    <option value="all">Nigeria</option>
                    <option value="all">Norway</option>
                    <option value="all">Oman</option>
                    <option value="all">Pakistan</option>
                    <option value="all">Panama</option>
                    <option value="all">Paraguay</option>
                    <option value="all">Peru</option>
                    <option value="all">Philippines</option>
                    <option value="all">Poland</option>
                    <option value="all">Portugal</option>
                    <option value="all">Puerto Rico</option>
                    <option value="all">Reunion</option>
                    <option value="all">Romania</option>
                    <option value="all">Russia</option>
                    <option value="all">Saudi Arabia</option>
                    <option value="SG">Singapore</option>
                    <option value="all">Slovak Republic</option>
                    <option value="all">Slovenia</option>
                    <option value="all">South Africa</option>
                    <option value="all">Spain</option>
                    <option value="all">Sri Lanka</option>
                    <option value="all">Sweden</option>
                    <option value="all">Switzerland</option>
                    <option value="all">Taiwan</option>
                    <option value="all">Tajikistan</option>
                    <option value="all">Thailand</option>
                    <option value="all">Trinidad and Tobbago</option>
                    <option value="all">Turkey</option>
                    <option value="all">Turkmenistan</option>
                    <option value="all">UAE(Arabian Gulf)</option>
                    <option value="all">Uganda</option>
                    <option value="all">Ukraine</option>
                    <option value="all">United Arab Emirates</option>
                    <option value="all">United Kingdom</option>
                    <option value="all">United States & US Territories</option>
                    <option value="all">Urugauy</option>
                    <option value="all">Venezuela</option>
                    <option value="all">Other</option>
                </select>
            </div>
        </div>    
    </nav>
    <nav class="language">
        <p>Language:</p>
        <div style="position:relative;">
        <img src="images/dropdown-arrow.png" style="position:absolute;top:82px;z-index:1;width:27px;" class="select_arrow" />
            <div class="select-wrap">
                <select id="selectLanguage">
                    <option value="all">Select One</option>
                    <option value="bulgarian">BG - Bulgarian</option>
                    <option value="czech">CS - Czech</option>
                    <option value="danish">DA - Danish</option>
                    <option value="german">DE - German</option>
                    <option value="greek">EL - Greek</option>
                    <option value="english">EN - English</option>
                    <option value="spanish">ES - Spanish</option>
                    <option value="estonian">ET - Estonian</option>
                    <option value="french">FR - French</option>
                    <option value="finnish">FI - Finnish</option>
                    <option value="croatian">HR - Croatian</option>
                    <option value="hungarian">HU - Hungarian</option>
                    <option value="italian">IT- Italian</option>
                    <option value="korean">KO - Korean</option>
                    <option value="lithuanian">LT - Lithuanian</option>
                    <option value="latvian">LV- Latvian</option>
                    <option value="dutch">NL - Dutch</option>
                    <option value="norwegian">NO - Norwegian</option>
                    <option value="portugueseB">PB - Portuguese (Brazil)</option>
                    <option value="polish">PL - Polish</option>
                    <option value="portuguese">PT - Portuguese</option>
                    <option value="romanian">RO - Romanian</option>
                    <option value="russian">RU - Russian</option>
                    <option value="slovak">SK - Slovak</option>
                    <option value="swedish">SV - Swedish</option>
                    <option value="turkish">TR - Turkish</option>
                    <option value="ukrainian">UK - Ukrainian</option>
                    <option value="chinese" class="optChinese">ZH - Chinese</option>
                </select>
            </div>
        </div>    
    </nav>
</div>
<div class="content-wrapper">
    <section class="language-list language-list-five country-not-specific country-not-CN country-not-SG">
        <h1><!-- NOT CN, NOT SG: all languages  -->CellSave Preservative Tube (IVD) <!-- <span class="title-info">IFU No. e631600041 - V 2013-08 </span> --></h1>
        <ul class="content-list">
<!--            <li class="bulgarian all"><a href="/pdf/e631600041/e631600041_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600041 V 2013-08</li>
            <li class="bulgarian all"><a href="/pdf/e631600042/e631600042_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600042 V 2015-05</li>
            <li class="bulgarian all"><a href="/pdf/e631600043/e631600043_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600043 V 2016-04</li>
            <li class="bulgarian all"><a href="/pdf/e631600044/e631600044_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="bulgarian all"><a href="/pdf/e631600045/e631600045_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600045 V 2017-06</li>-->
            <li class="bulgarian all"><a href="/pdf/e631600046/LBL-0026_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600046 V 2017-10</li>

<!--            <li class="czech all"><a href="/pdf/e631600041/e631600041_CS.pdf" target="_blank">CS - Czech</a> - e631600041 V 2013-08</li>
            <li class="czech all"><a href="/pdf/e631600042/e631600042_CS.pdf" target="_blank">CS - Czech</a> - e631600042 V 2015-05</li>
            <li class="czech all"><a href="/pdf/e631600043/e631600043_CS.pdf" target="_blank">CS - Czech</a> - e631600043 V 2016-04</li>
            <li class="czech all"><a href="/pdf/e631600044/e631600044_CS.pdf" target="_blank">CS - Czech</a> - e631600044 V 2017-01</li>-->
            <!--<li class="czech all"><a href="/pdf/e631600045/e631600045_CS.pdf" target="_blank">CS - Czech</a> - e631600045 V 2017-06</li>-->
            <li class="czech all"><a href="/pdf/e631600046/LBL-0026_CS.pdf" target="_blank">CS - Czech</a> - e631600046 V 2017-10</li>

<!--            <li class="danish all"><a href="/pdf/e631600041/e631600041_DA.pdf" target="_blank">DA - Danish</a> - e631600041 V 2013-08</li>
            <li class="danish all"><a href="/pdf/e631600042/e631600042_DA.pdf" target="_blank">DA - Danish</a> - e631600042 V 2015-05</li>
            <li class="danish all"><a href="/pdf/e631600043/e631600043_DA.pdf" target="_blank">DA - Danish</a> - e631600043 V 2016-04</li>
            <li class="danish all"><a href="/pdf/e631600044/e631600044_DA.pdf" target="_blank">DA - Danish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="danish all"><a href="/pdf/e631600045/e631600045_DA.pdf" target="_blank">DA - Danish</a> - e631600045 V 2017-06</li>-->
            <li class="danish all"><a href="/pdf/e631600046/LBL-0026_DA.pdf" target="_blank">DA - Danish</a> - e631600046 V 2017-10</li>

<!--            <li class="german all"><a href="/pdf/e631600041/e631600041_DE.pdf" target="_blank">DE - German</a> - e631600041 V 2013-08</li>
            <li class="german all"><a href="/pdf/e631600042/e631600042_DE.pdf" target="_blank">DE - German</a> - e631600042 V 2015-05</li>
            <li class="german all"><a href="/pdf/e631600043/e631600043_DE.pdf" target="_blank">DE - German</a> - e631600043 V 2016-04</li>
            <li class="german all"><a href="/pdf/e631600044/e631600044_DE.pdf" target="_blank">DE - German</a> - e631600044 V 2017-01</li>-->
            <!--<li class="german all"><a href="/pdf/e631600045/e631600045_DE.pdf" target="_blank">DE - German</a> - e631600045 V 2017-06</li>-->
            <li class="german all"><a href="/pdf/e631600046/LBL-0026_DE.pdf" target="_blank">DE - German</a> - e631600046 V 2017-10</li>

<!--            <li class="greek all"><a href="/pdf/e631600041/e631600041_EL.pdf" target="_blank">EL - Greek</a> - e631600041 V 2013-08</li>
            <li class="greek all"><a href="/pdf/e631600042/e631600042_EL.pdf" target="_blank">EL - Greek</a> - e631600042 V 2015-05</li>
            <li class="greek all"><a href="/pdf/e631600043/e631600043_EL.pdf" target="_blank">EL - Greek</a> - e631600043 V 2016-04</li>
            <li class="greek all"><a href="/pdf/e631600044/e631600044_EL.pdf" target="_blank">EL - Greek</a> - e631600044 V 2017-01</li>-->
            <!--<li class="greek all"><a href="/pdf/e631600045/e631600045_EL.pdf" target="_blank">EL - Greek</a> - e631600045 V 2017-06</li>-->
            <li class="greek all"><a href="/pdf/e631600046/LBL-0026_EL.pdf" target="_blank">EL - Greek</a> - e631600046 V 2017-10</li>

<!--            <li class="english all"><a href="/pdf/e631600041/e631600041_EN.pdf" target="_blank">EN - English</a> - e631600041 V 2013-08</li>
            <li class="english all"><a href="/pdf/e631600042/e631600042_EN.pdf" target="_blank">EN - English</a> - e631600042 V 2015-05</li>
            <li class="english all"><a href="/pdf/e631600043/e631600043_EN.pdf" target="_blank">EN - English</a> - e631600043 V 2016-04</li>
            <li class="english all"><a href="/pdf/e631600044/e631600044_EN.pdf" target="_blank">EN - English</a> - e631600044 V 2017-01</li>-->
            <!--<li class="english all"><a href="/pdf/e631600045/e631600045_EN.pdf" target="_blank">EN - English</a> - e631600045 V 2017-06</li>-->
            <li class="english all"><a href="/pdf/e631600046/LBL-0026_EN.pdf" target="_blank">EN - English</a> - e631600046 V 2017-10</li>

<!--            <li class="spanish all"><a href="/pdf/e631600041/e631600041_ES.pdf" target="_blank">ES - Spanish</a> - e631600041 V 2013-08</li>
            <li class="spanish all"><a href="/pdf/e631600042/e631600042_ES.pdf" target="_blank">ES - Spanish</a> - e631600042 V 2015-05</li>
            <li class="spanish all"><a href="/pdf/e631600043/e631600043_ES.pdf" target="_blank">ES - Spanish</a> - e631600043 V 2016-04</li>
            <li class="spanish all"><a href="/pdf/e631600044/e631600044_ES.pdf" target="_blank">ES - Spanish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="spanish all"><a href="/pdf/e631600045/e631600045_ES.pdf" target="_blank">ES - Spanish</a> - e631600045 V 2017-06</li>-->
            <li class="spanish all"><a href="/pdf/e631600046/LBL-0026_ES.pdf" target="_blank">ES - Spanish</a> - e631600046 V 2017-10</li>

<!--            <li class="estonian all"><a href="/pdf/e631600041/e631600041_ET.pdf" target="_blank">ET - Estonian</a> - e631600041 V 2013-08</li>
            <li class="estonian all"><a href="/pdf/e631600042/e631600042_ET.pdf" target="_blank">ET - Estonian</a> - e631600042 V 2015-05</li>
            <li class="estonian all"><a href="/pdf/e631600043/e631600043_ET.pdf" target="_blank">ET - Estonian</a> - e631600043 V 2016-04</li>
            <li class="estonian all"><a href="/pdf/e631600044/e631600044_ET.pdf" target="_blank">ET - Estonian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="estonian all"><a href="/pdf/e631600045/e631600045_ET.pdf" target="_blank">ET - Estonian</a> - e631600045 V 2017-06</li>-->
            <li class="estonian all"><a href="/pdf/e631600046/LBL-0026_ET.pdf" target="_blank">ET - Estonian</a> - e631600046 V 2017-10</li>

<!--            <li class="finnish all"><a href="/pdf/e631600041/e631600041_FI.pdf" target="_blank">FI - Finnish</a> - e631600041 V 2013-08</li>
            <li class="finnish all"><a href="/pdf/e631600042/e631600042_FI.pdf" target="_blank">FI - Finnish</a> - e631600042 V 2015-05</li>
            <li class="finnish all"><a href="/pdf/e631600043/e631600043_FI.pdf" target="_blank">FI - Finnish</a> - e631600043 V 2016-04</li>
            <li class="finnish all"><a href="/pdf/e631600044/e631600044_FI.pdf" target="_blank">FI - Finnish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="finnish all"><a href="/pdf/e631600045/e631600045_FI.pdf" target="_blank">FI - Finnish</a> - e631600045 V 2017-06</li>-->
            <li class="finnish all"><a href="/pdf/e631600046/LBL-0026_FI.pdf" target="_blank">FI - Finnish</a> - e631600046 V 2017-10</li>

<!--            <li class="french all"><a href="/pdf/e631600041/e631600041_FR.pdf" target="_blank">FR - French</a> - e631600041 V 2013-08</li>
            <li class="french all"><a href="/pdf/e631600042/e631600042_FR.pdf" target="_blank">FR - French</a> - e631600042 V 2015-05</li>
            <li class="french all"><a href="/pdf/e631600043/e631600043_FR.pdf" target="_blank">FR - French</a> - e631600043 V 2016-04</li>
            <li class="french all"><a href="/pdf/e631600044/e631600044_FR.pdf" target="_blank">FR - French</a> - e631600044 V 2017-01</li>-->
            <!--<li class="french all"><a href="/pdf/e631600045/e631600045_FR.pdf" target="_blank">FR - French</a> - e631600045 V 2017-06</li>-->
            <li class="french all"><a href="/pdf/e631600046/LBL-0026_FR.pdf" target="_blank">FR - French</a> - e631600046 V 2017-10</li>

<!--            <li class="croatian all"><a href="/pdf/e631600041/e631600041_HR.pdf" target="_blank">HR - Croatian</a> - e631600041 V 2013-08</li>
            <li class="croatian all"><a href="/pdf/e631600042/e631600042_HR.pdf" target="_blank">HR - Croatian</a> - e631600042 V 2015-05</li>
            <li class="croatian all"><a href="/pdf/e631600043/e631600043_HR.pdf" target="_blank">HR - Croatian</a> - e631600043 V 2016-04</li>
            <li class="croatian all"><a href="/pdf/e631600044/e631600044_HR.pdf" target="_blank">HR - Croatian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="croatian all"><a href="/pdf/e631600045/e631600045_HR.pdf" target="_blank">HR - Croatian</a> - e631600045 V 2017-06</li>-->
            <li class="croatian all"><a href="/pdf/e631600046/LBL-0026_HR.pdf" target="_blank">HR - Croatian</a> - e631600046 V 2017-10</li>

<!--            <li class="hungarian all"><a href="/pdf/e631600041/e631600041_HU.pdf" target="_blank">HU - Hungarian</a> - e631600041 V 2013-08</li>
            <li class="hungarian all"><a href="/pdf/e631600042/e631600042_HU.pdf" target="_blank">HU - Hungarian</a> - e631600042 V 2015-05</li>
            <li class="hungarian all"><a href="/pdf/e631600043/e631600043_HU.pdf" target="_blank">HU - Hungarian</a> - e631600043 V 2016-04</li>
            <li class="hungarian all"><a href="/pdf/e631600044/e631600044_HU.pdf" target="_blank">HU - Hungarian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="hungarian all"><a href="/pdf/e631600045/e631600045_HU.pdf" target="_blank">HU - Hungarian</a> - e631600045 V 2017-06</li>-->
            <li class="hungarian all"><a href="/pdf/e631600046/LBL-0026_HU.pdf" target="_blank">HU - Hungarian</a> - e631600046 V 2017-10</li>

<!--            <li class="italian all"><a href="/pdf/e631600041/e631600041_IT.pdf" target="_blank">IT - Italian</a> - e631600041 V 2013-08</li>
            <li class="italian all"><a href="/pdf/e631600042/e631600042_IT.pdf" target="_blank">IT - Italian</a> - e631600042 V 2015-05</li>
            <li class="italian all"><a href="/pdf/e631600043/e631600043_IT.pdf" target="_blank">IT - Italian</a> - e631600043 V 2016-04</li>
            <li class="italian all"><a href="/pdf/e631600044/e631600044_IT.pdf" target="_blank">IT - Italian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="italian all"><a href="/pdf/e631600045/e631600045_IT.pdf" target="_blank">IT - Italian</a> - e631600045 V 2017-06</li>-->
            <li class="italian all"><a href="/pdf/e631600046/LBL-0026_IT.pdf" target="_blank">IT - Italian</a> - e631600046 V 2017-10</li>

<!--            <li class="korean all"><a href="/pdf/e631600041/e631600041_KO.pdf" target="_blank">KO - Korean</a> - e631600041 V 2013-08</li>
            <li class="korean all"><a href="/pdf/e631600042/e631600042_KO.pdf" target="_blank">KO - Korean</a> - e631600042 V 2015-05</li>
            <li class="korean all"><a href="/pdf/e631600043/e631600043_KO.pdf" target="_blank">KO - Korean</a> - e631600043 V 2016-04</li>
            <li class="korean all"><a href="/pdf/e631600044/e631600044_KO.pdf" target="_blank">KO - Korean</a> - e631600044 V 2017-01</li>-->
            <!--<li class="korean all"><a href="/pdf/e631600045/e631600045_KO.pdf" target="_blank">KO - Korean</a> - e631600045 V 2017-06</li>-->
            <li class="korean all"><a href="/pdf/e631600046/LBL-0026_KO.pdf" target="_blank">KO - Korean</a> - e631600046 V 2017-10</li>

<!--            <li class="lithuanian all"><a href="/pdf/e631600041/e631600041_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600041 V 2013-08</li>
            <li class="lithuanian all"><a href="/pdf/e631600042/e631600042_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600042 V 2015-05</li>
            <li class="lithuanian all"><a href="/pdf/e631600043/e631600043_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600043 V 2016-04</li>
            <li class="lithuanian all"><a href="/pdf/e631600044/e631600044_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="lithuanian all"><a href="/pdf/e631600045/e631600045_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600045 V 2017-06</li>-->
            <li class="lithuanian all"><a href="/pdf/e631600046/LBL-0026_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600046 V 2017-10</li>

<!--            <li class="latvian all"><a href="/pdf/e631600041/e631600041_LV.pdf" target="_blank">LV - Latvian</a> - e631600041 V 2013-08</li>
            <li class="latvian all"><a href="/pdf/e631600042/e631600042_LV.pdf" target="_blank">LV - Latvian</a> - e631600042 V 2015-05</li>
            <li class="latvian all"><a href="/pdf/e631600043/e631600043_LV.pdf" target="_blank">LV - Latvian</a> - e631600043 V 2016-04</li>
            <li class="latvian all"><a href="/pdf/e631600044/e631600044_LV.pdf" target="_blank">LV - Latvian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="latvian all"><a href="/pdf/e631600045/e631600045_LV.pdf" target="_blank">LV - Latvian</a> - e631600045 V 2017-06</li>-->
            <li class="latvian all"><a href="/pdf/e631600046/LBL-0026_LV.pdf" target="_blank">LV - Latvian</a> - e631600046 V 2017-10</li>

<!--            <li class="dutch all"><a href="/pdf/e631600041/e631600041_NL.pdf" target="_blank">NL - Dutch</a> - e631600041 V 2013-08</li>
            <li class="dutch all"><a href="/pdf/e631600042/e631600042_NL.pdf" target="_blank">NL - Dutch</a> - e631600042 V 2015-05</li>
            <li class="dutch all"><a href="/pdf/e631600043/e631600043_NL.pdf" target="_blank">NL - Dutch</a> - e631600043 V 2016-04</li>
            <li class="dutch all"><a href="/pdf/e631600044/e631600044_NL.pdf" target="_blank">NL - Dutch</a> - e631600044 V 2017-01</li>-->
            <!--<li class="dutch all"><a href="/pdf/e631600045/e631600045_NL.pdf" target="_blank">NL - Dutch</a> - e631600045 V 2017-06</li>-->
            <li class="dutch all"><a href="/pdf/e631600046/LBL-0026_NL.pdf" target="_blank">NL - Dutch</a> - e631600046 V 2017-10</li>

<!--            <li class="norwegian all"><a href="/pdf/e631600041/e631600041_NO.pdf" target="_blank">NO - Norwegian</a> - e631600041 V 2013-08</li>
            <li class="norwegian all"><a href="/pdf/e631600042/e631600042_NO.pdf" target="_blank">NO - Norwegian</a> - e631600042 V 2015-05</li>
            <li class="norwegian all"><a href="/pdf/e631600043/e631600043_NO.pdf" target="_blank">NO - Norwegian</a> - e631600043 V 2016-04</li>
            <li class="norwegian all"><a href="/pdf/e631600044/e631600044_NO.pdf" target="_blank">NO - Norwegian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="norwegian all"><a href="/pdf/e631600045/e631600045_NO.pdf" target="_blank">NO - Norwegian</a> - e631600045 V 2017-06</li>-->
            <li class="norwegian all"><a href="/pdf/e631600046/LBL-0026_NO.pdf" target="_blank">NO - Norwegian</a> - e631600046 V 2017-10</li>

<!--            <li class="portugueseB all"><a href="/pdf/e631600041/e631600041_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600041 V 2013-08</li>
            <li class="portugueseB all"><a href="/pdf/e631600042/e631600042_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600042 V 2015-05</li>
            <li class="portugueseB all"><a href="/pdf/e631600043/e631600043_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600043 V 2016-04</li>
            <li class="portugueseB all"><a href="/pdf/e631600044/e631600044_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600044 V 2017-01</li>-->
            <!--<li class="portugueseB all"><a href="/pdf/e631600045/e631600045_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600045 V 2017-06</li>-->
            <li class="portugueseB all"><a href="/pdf/e631600046/LBL-0026_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600046 V 2017-10</li>

<!--            <li class="polish all"><a href="/pdf/e631600041/e631600041_PL.pdf" target="_blank">PL - Polish</a> - e631600041 V 2013-08</li>
            <li class="polish all"><a href="/pdf/e631600042/e631600042_PL.pdf" target="_blank">PL - Polish</a> - e631600042 V 2015-05</li>
            <li class="polish all"><a href="/pdf/e631600043/e631600043_PL.pdf" target="_blank">PL - Polish</a> - e631600043 V 2016-04</li>
            <li class="polish all"><a href="/pdf/e631600044/e631600044_PL.pdf" target="_blank">PL - Polish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="polish all"><a href="/pdf/e631600045/e631600045_PL.pdf" target="_blank">PL - Polish</a> - e631600045 V 2017-06</li>-->
            <li class="polish all"><a href="/pdf/e631600046/LBL-0026_PL.pdf" target="_blank">PL - Polish</a> - e631600046 V 2017-10</li>

<!--            <li class="portuguese all"><a href="/pdf/e631600041/e631600041_PT.pdf" target="_blank">PT - Portuguese</a> - e631600041 V 2013-08</li>
            <li class="portuguese all"><a href="/pdf/e631600042/e631600042_PT.pdf" target="_blank">PT - Portuguese</a> - e631600042 V 2015-05</li>
            <li class="portuguese all"><a href="/pdf/e631600043/e631600043_PT.pdf" target="_blank">PT - Portuguese</a> - e631600043 V 2016-04</li>
            <li class="portuguese all"><a href="/pdf/e631600044/e631600044_PT.pdf" target="_blank">PT - Portuguese</a> - e631600044 V 2017-01</li>-->
            <!--<li class="portuguese all"><a href="/pdf/e631600045/e631600045_PT.pdf" target="_blank">PT - Portuguese</a> - e631600045 V 2017-06</li>-->
            <li class="portuguese all"><a href="/pdf/e631600046/LBL-0026_PT.pdf" target="_blank">PT - Portuguese</a> - e631600046 V 2017-10</li>

<!--            <li class="romanian all"><a href="/pdf/e631600041/e631600041_RO.pdf" target="_blank">RO - Romanian</a> - e631600041 V 2013-08</li>
            <li class="romanian all"><a href="/pdf/e631600042/e631600042_RO.pdf" target="_blank">RO - Romanian</a> - e631600042 V 2015-05</li>
            <li class="romanian all"><a href="/pdf/e631600043/e631600043_RO.pdf" target="_blank">RO - Romanian</a> - e631600043 V 2016-04</li>
            <li class="romanian all"><a href="/pdf/e631600044/e631600044_RO.pdf" target="_blank">RO - Romanian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="romanian all"><a href="/pdf/e631600045/e631600045_RO.pdf" target="_blank">RO - Romanian</a> - e631600045 V 2017-06</li>-->
            <li class="romanian all"><a href="/pdf/e631600046/LBL-0026_RO.pdf" target="_blank">RO - Romanian</a> - e631600046 V 2017-10</li>

<!--            <li class="russian all"><a href="/pdf/e631600041/e631600041_RU.pdf" target="_blank">RU - Russian</a> - e631600041 V 2013-08</li>
            <li class="russian all"><a href="/pdf/e631600042/e631600042_RU.pdf" target="_blank">RU - Russian</a> - e631600042 V 2015-05</li>
            <li class="russian all"><a href="/pdf/e631600043/e631600043_RU.pdf" target="_blank">RU - Russian</a> - e631600043 V 2016-04</li>
            <li class="russian all"><a href="/pdf/e631600044/e631600044_RU.pdf" target="_blank">RU - Russian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="russian all"><a href="/pdf/e631600045/e631600045_RU.pdf" target="_blank">RU - Russian</a> - e631600045 V 2017-06</li>-->
            <li class="russian all"><a href="/pdf/e631600046/LBL-0026_RU.pdf" target="_blank">RU - Russian</a> - e631600046 V 2017-10</li>

<!--            <li class="slovak all"><a href="/pdf/e631600041/e631600041_SK.pdf" target="_blank">SK - Slovak</a> - e631600041 V 2013-08</li>
            <li class="slovak all"><a href="/pdf/e631600042/e631600042_SK.pdf" target="_blank">SK - Slovak</a> - e631600042 V 2015-05</li>
            <li class="slovak all"><a href="/pdf/e631600043/e631600043_SK.pdf" target="_blank">SK - Slovak</a> - e631600043 V 2016-04</li>
            <li class="slovak all"><a href="/pdf/e631600044/e631600044_SK.pdf" target="_blank">SK - Slovak</a> - e631600044 V 2017-01</li>-->
            <!--<li class="slovak all"><a href="/pdf/e631600045/e631600045_SK.pdf" target="_blank">SK - Slovak</a> - e631600045 V 2017-06</li>-->
            <li class="slovak all"><a href="/pdf/e631600046/LBL-0026_SK.pdf" target="_blank">SK - Slovak</a> - e631600046 V 2017-10</li>

<!--            <li class="swedish all"><a href="/pdf/e631600041/e631600041_SV.pdf" target="_blank">SV - Swedish</a> - e631600041 V 2013-08</li>
            <li class="swedish all"><a href="/pdf/e631600042/e631600042_SV.pdf" target="_blank">SV - Swedish</a> - e631600042 V 2015-05</li>
            <li class="swedish all"><a href="/pdf/e631600043/e631600043_SV.pdf" target="_blank">SV - Swedish</a> - e631600043 V 2016-04</li>
            <li class="swedish all"><a href="/pdf/e631600044/e631600044_SV.pdf" target="_blank">SV - Swedish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="swedish all"><a href="/pdf/e631600045/e631600045_SV.pdf" target="_blank">SV - Swedish</a> - e631600045 V 2017-06</li>-->
            <li class="swedish all"><a href="/pdf/e631600046/LBL-0026_SV.pdf" target="_blank">SV - Swedish</a> - e631600046 V 2017-10</li>

<!--            <li class="turkish all"><a href="/pdf/e631600041/e631600041_TR.pdf" target="_blank">TR - Turkish</a> - e631600041 V 2013-08</li>
            <li class="turkish all"><a href="/pdf/e631600042/e631600042_TR.pdf" target="_blank">TR - Turkish</a> - e631600042 V 2015-05</li>
            <li class="turkish all"><a href="/pdf/e631600043/e631600043_TR.pdf" target="_blank">TR - Turkish</a> - e631600043 V 2016-04</li>
            <li class="turkish all"><a href="/pdf/e631600044/e631600044_TR.pdf" target="_blank">TR - Turkish</a> - e631600044 V 2017-01</li>-->
            <!--<li class="turkish all"><a href="/pdf/e631600045/e631600045_TR.pdf" target="_blank">TR - Turkish</a> - e631600045 V 2017-06</li>-->
            <li class="turkish all"><a href="/pdf/e631600046/LBL-0026_TR.pdf" target="_blank">TR - Turkish</a> - e631600046 V 2017-10</li>

<!--            <li class="ukrainian all"><a href="/pdf/e631600041/e631600041_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600041 V 2013-08</li>
            <li class="ukrainian all"><a href="/pdf/e631600042/e631600042_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600042 V 2015-05</li>
            <li class="ukrainian all"><a href="/pdf/e631600043/e631600043_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600043 V 2016-04</li>
            <li class="ukrainian all"><a href="/pdf/e631600044/e631600044_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600044 V 2017-01</li>-->
            <!--<li class="ukrainian all"><a href="/pdf/e631600045/e631600045_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600045 V 2017-06</li>-->
            <li class="ukrainian all"><a href="/pdf/e631600046/LBL-0026_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600046 V 2017-10</li>
            
            <!--<li class="chinese all"><a href="/pdf/e631600041/e631600041_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600041 V 2013-08</li>-->
            <!--<li class="chinese all"><a href="/pdf/e631600042/e631600042_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600042 V 2015-05</li>-->
            <!--<li class="chinese all"><a href="/pdf/e631600043/e631600043_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600043 V 2016-04</li>-->
            <!--<li class="chinese all"><a href="/pdf/e631600044/e631600044_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600044 V 2017-01</li>-->
            <!--<li class="chinese all"><a href="/pdf/e631600045/e631600045_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600045 V 2017-06</li>-->
            <li class="chinese all"><a href="/pdf/e631600046/LBL-0026_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600046 V 2017-10</li>

        </ul>
    </section>

    <section class="language-list language-list-two country-specific country-SG">
        
        <h1><!-- SG: ZH  -->CellSave Preservative Tube (IVD)<span class="title-info"></span></h1>
        <ul class="content-list">
            <li class="bulgarian all"><a href="/pdf/e631600041/e631600041_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600041 V 2013-08</li>
            <li class="bulgarian all"><a href="/pdf/e631600046/LBL-0026_BG.pdf" target="_blank">BG - Bulgarian</a> - e631600046 V 2017-10</li>
            
            <li class="czech all"><a href="/pdf/e631600041/e631600041_CS.pdf" target="_blank">CS - Czech</a> - e631600041 V 2013-08</li>
            <li class="czech all"><a href="/pdf/e631600046/LBL-0026_CS.pdf" target="_blank">CS - Czech</a> - e631600046 V 2017-10</li>
            
            <li class="danish all"><a href="/pdf/e631600041/e631600041_DA.pdf" target="_blank">DA - Danish</a> - e631600041 V 2013-08</li>
            <li class="danish all"><a href="/pdf/e631600046/LBL-0026_DA.pdf" target="_blank">DA - Danish</a> - e631600046 V 2017-10</li>
            
            <li class="german all"><a href="/pdf/e631600041/e631600041_DE.pdf" target="_blank">DE - German</a> - e631600041 V 2013-08</li>
            <li class="german all"><a href="/pdf/e631600046/LBL-0026_DE.pdf" target="_blank">DE - German</a> - e631600046 V 2017-10</li>
            
            <li class="greek all"><a href="/pdf/e631600041/e631600041_EL.pdf" target="_blank">EL - Greek</a> - e631600041 V 2013-08</li>
            <li class="greek all"><a href="/pdf/e631600046/LBL-0026_EL.pdf" target="_blank">EL - Greek</a> - e631600046 V 2017-10</li>
            
            <li class="english all"><a href="/pdf/e631600041/e631600041_EN.pdf" target="_blank">EN - English</a> - e631600041 V 2013-08</li>
            <li class="english all"><a href="/pdf/e631600046/LBL-0026_EN.pdf" target="_blank">EN - English</a> - e631600046 V 2017-10</li>
            
            <li class="spanish all"><a href="/pdf/e631600041/e631600041_ES.pdf" target="_blank">ES - Spanish</a> - e631600041 V 2013-08</li>
            <li class="spanish all"><a href="/pdf/e631600046/LBL-0026_ES.pdf" target="_blank">ES - Spanish</a> - e631600046 V 2017-10</li>
            
            <li class="estonian all"><a href="/pdf/e631600041/e631600041_ET.pdf" target="_blank">ET - Estonian</a> - e631600041 V 2013-08</li>
            <li class="estonian all"><a href="/pdf/e631600046/LBL-0026_ET.pdf" target="_blank">ET - Estonian</a> - e631600046 V 2017-10</li>
            
            <li class="finnish all"><a href="/pdf/e631600041/e631600041_FI.pdf" target="_blank">FI - Finnish</a> - e631600041 V 2013-08</li>
            <li class="finnish all"><a href="/pdf/e631600046/LBL-0026_FI.pdf" target="_blank">FI - Finnish</a> - e631600046 V 2017-10</li>
            
            <li class="french all"><a href="/pdf/e631600041/e631600041_FR.pdf" target="_blank">FR - French</a> - e631600041 V 2013-08</li>
            <li class="french all"><a href="/pdf/e631600046/LBL-0026_FR.pdf" target="_blank">FR - French</a> - e631600046 V 2017-10</li>
            
            <li class="croatian all"><a href="/pdf/e631600041/e631600041_HR.pdf" target="_blank">HR - Croatian</a> - e631600041 V 2013-08</li>
            <li class="croatian all"><a href="/pdf/e631600046/LBL-0026_HR.pdf" target="_blank">HR - Croatian</a> - e631600046 V 2017-10</li>
            
            <li class="hungarian all"><a href="/pdf/e631600041/e631600041_HU.pdf" target="_blank">HU - Hungarian</a> - e631600041 V 2013-08</li>
            <li class="hungarian all"><a href="/pdf/e631600046/LBL-0026_HU.pdf" target="_blank">HU - Hungarian</a> - e631600046 V 2017-10</li>
            
            <li class="italian all"><a href="/pdf/e631600041/e631600041_IT.pdf" target="_blank">IT - Italian</a> - e631600041 V 2013-08</li>
            <li class="italian all"><a href="/pdf/e631600046/LBL-0026_IT.pdf" target="_blank">IT - Italian</a> - e631600046 V 2017-10</li>
            
            <li class="korean all"><a href="/pdf/e631600041/e631600041_KO.pdf" target="_blank">KO - Korean</a> - e631600041 V 2013-08</li>
            <li class="korean all"><a href="/pdf/e631600046/LBL-0026_KO.pdf" target="_blank">KO - Korean</a> - e631600046 V 2017-10</li>
            
            <li class="lithuanian all"><a href="/pdf/e631600041/e631600041_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600041 V 2013-08</li>
            <li class="lithuanian all"><a href="/pdf/e631600046/LBL-0026_LT.pdf" target="_blank">LT - Lithuanian</a> - e631600046 V 2017-10</li>
            
            <li class="latvian all"><a href="/pdf/e631600041/e631600041_LV.pdf" target="_blank">LV - Latvian</a> - e631600041 V 2013-08</li>
            <li class="latvian all"><a href="/pdf/e631600046/LBL-0026_LV.pdf" target="_blank">LV - Latvian</a> - e631600046 V 2017-10</li>
            
            <li class="dutch all"><a href="/pdf/e631600041/e631600041_NL.pdf" target="_blank">NL - Dutch</a> - e631600041 V 2013-08</li>
            <!--<li class="dutch all"><a href="/pdf/e631600046/LBL-0026_NL.pdf" target="_blank">NL - Dutch</a> - e631600046 V 2017-10</li>-->
            
            <li class="norwegian all"><a href="/pdf/e631600041/e631600041_NO.pdf" target="_blank">NO - Norwegian</a> - e631600041 V 2013-08</li>
            <!--<li class="norwegian all"><a href="/pdf/e631600046/LBL-0026_NO.pdf" target="_blank">NO - Norwegian</a> - e631600046 V 2017-10</li>-->
            
            <li class="portugueseB all"><a href="/pdf/e631600041/e631600041_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600041 V 2013-08</li>
            <!--<li class="portugueseB all"><a href="/pdf/e631600046/LBL-0026_PB.pdf" target="_blank">PB - Portuguese (Brazil)</a> - e631600046 V 2017-10</li>-->
            
            <li class="polish all"><a href="/pdf/e631600041/e631600041_PL.pdf" target="_blank">PL - Polish</a> - e631600041 V 2013-08</li>
            <!--<li class="polish all"><a href="/pdf/e631600046/LBL-0026_PL.pdf" target="_blank">PL - Polish</a> - e631600046 V 2017-10</li>-->
            
            <li class="portuguese all"><a href="/pdf/e631600041/e631600041_PT.pdf" target="_blank">PT - Portuguese</a> - e631600041 V 2013-08</li>
            <!--<li class="portuguese all"><a href="/pdf/e631600046/LBL-0026_PT.pdf" target="_blank">PT - Portuguese</a> - e631600046 V 2017-10</li>-->
            
            <li class="romanian all"><a href="/pdf/e631600041/e631600041_RO.pdf" target="_blank">RO - Romanian</a> - e631600041 V 2013-08</li>
            <!--<li class="romanian all"><a href="/pdf/e631600046/LBL-0026_RO.pdf" target="_blank">RO - Romanian</a> - e631600046 V 2017-10</li>-->
            
            <li class="russian all"><a href="/pdf/e631600041/e631600041_RU.pdf" target="_blank">RU - Russian</a> - e631600041 V 2013-08</li>
            <!--<li class="russian all"><a href="/pdf/e631600046/LBL-0026_RU.pdf" target="_blank">RU - Russian</a> - e631600046 V 2017-10</li>-->
            
            <li class="slovak all"><a href="/pdf/e631600041/e631600041_SK.pdf" target="_blank">SK - Slovak</a> - e631600041 V 2013-08</li>
            <!--<li class="slovak all"><a href="/pdf/e631600046/LBL-0026_SK.pdf" target="_blank">SK - Slovak</a> - e631600046 V 2017-10</li>-->
            
            <li class="swedish all"><a href="/pdf/e631600041/e631600041_SV.pdf" target="_blank">SV - Swedish</a> - e631600041 V 2013-08</li>
            <!--<li class="swedish all"><a href="/pdf/e631600046/LBL-0026_SV.pdf" target="_blank">SV - Swedish</a> - e631600046 V 2017-10</li>-->
            
            <li class="turkish all"><a href="/pdf/e631600041/e631600041_TR.pdf" target="_blank">TR - Turkish</a> - e631600041 V 2013-08</li>
            <!--<li class="turkish all"><a href="/pdf/e631600046/LBL-0026_TR.pdf" target="_blank">TR - Turkish</a> - e631600046 V 2017-10</li>-->
            
            <li class="ukrainian all"><a href="/pdf/e631600041/e631600041_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600041 V 2013-08</li>
            <!--<li class="ukrainian all"><a href="/pdf/e631600046/LBL-0026_UK.pdf" target="_blank">UK - Ukrainian</a> - e631600046 V 2017-10</li>-->
            
            <li class="chinese all"><a href="/pdf/e631600041/e631600041_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600041 V 2013-08</li>
            <!--<li class="chinese all"><a href="/pdf/e631600046/LBL-0026_ZH.pdf" target="_blank">ZH - Chinese</a> - e631600046 V 2017-10</li>-->
        </ul>

    </section>

    <section class="language-list language-list-two country-not-specific country-not-CN">
        <!--<h1> NOT CN: all languages  CELLSEARCH<sup>&reg;</sup> Circulating Tumor Cell Control Kit (IVD) <span class="title-info"> IFU No. e631600011 - V 2013-08 </span></h1>-->
        <h1><!-- NOT CN: all languages  -->CELLSEARCH<sup>&reg;</sup> Circulating Tumor Cell Control Kit (IVD)</h1>
        <ul class="content-list">

<!--            <li class="danish all"><a href="/pdf/e631600011/e631600011_DA.pdf" target="_blank">DA - Danish</a> - e631600011 V 2013-08</li>
            <li class="danish all"><a href="/pdf/e631600013/e631600013_DA.pdf" target="_blank">DA - Danish</a> - e631600013 V 2016-04</li>
            <li class="danish all"><a href="/pdf/e631600014/e631600014_DA.pdf" target="_blank">DA - Danish</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="danish all"><a href="/pdf/e631600015/e631600015_DA.pdf" target="_blank">DA - Danish</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="german all"><a href="/pdf/e631600011/e631600011_DE.pdf" target="_blank">DE - German</a> - e631600011 V 2013-08</li>
            <li class="german all"><a href="/pdf/e631600013/e631600013_DE.pdf" target="_blank">DE - German</a> - e631600013 V 2016-04</li>
            <li class="german all"><a href="/pdf/e631600014/e631600014_DE.pdf" target="_blank">DE - German</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="german all"><a href="/pdf/e631600015/e631600015_DE.pdf" target="_blank">DE - German</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="greek all"><a href="/pdf/e631600011/e631600011_EL.pdf" target="_blank">EL - Greek</a> - e631600011 V 2013-08</li>
            <li class="greek all"><a href="/pdf/e631600013/e631600013_EL.pdf" target="_blank">EL - Greek</a> - e631600013 V 2016-04</li>
            <li class="greek all"><a href="/pdf/e631600014/e631600014_EL.pdf" target="_blank">EL - Greek</a> - e631600014 V 2017-01</li>
            -->
            <!--<li class="greek all"><a href="/pdf/e631600015/e631600015_EL.pdf" target="_blank">EL - Greek</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="english all"><a href="/pdf/e631600011/e631600011_EN.pdf" target="_blank">EN - English</a> - e631600011 V 2013-08</li>
            <li class="english all"><a href="/pdf/e631600013/e631600013_EN.pdf" target="_blank">EN - English</a> - e631600013 V 2016-04</li>
            <li class="english all"><a href="/pdf/e631600014/e631600014_EN.pdf" target="_blank">EN - English</a> - e631600014 V 2017-01</li>
            -->
<!--            <li class="english all"><a href="/pdf/e631600015/e631600015_EN.pdf" target="_blank">EN - English</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="spanish all"><a href="/pdf/e631600011/e631600011_ES.pdf" target="_blank">ES - Spanish</a> - e631600011 V 2013-08</li>
            <li class="spanish all"><a href="/pdf/e631600013/e631600013_ES.pdf" target="_blank">ES - Spanish</a> - e631600013 V 2016-04</li>
            <li class="spanish all"><a href="/pdf/e631600014/e631600014_ES.pdf" target="_blank">ES - Spanish</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="spanish all"><a href="/pdf/e631600015/e631600015_ES.pdf" target="_blank">ES - Spanish</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="finnish all"><a href="/pdf/e631600011/e631600011_FI.pdf" target="_blank">FI - Finnish</a> - e631600011 V 2013-08</li>
            <li class="finnish all"><a href="/pdf/e631600013/e631600013_FI.pdf" target="_blank">FI - Finnish</a> - e631600013 V 2016-04</li>
            <li class="finnish all"><a href="/pdf/e631600014/e631600014_FI.pdf" target="_blank">FI - Finnish</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="finnish all"><a href="/pdf/e631600015/e631600015_FI.pdf" target="_blank">FI - Finnish</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="french all"><a href="/pdf/e631600011/e631600011_FR.pdf" target="_blank">FR - French</a> - e631600011 V 2013-08</li>
            <li class="french all"><a href="/pdf/e631600013/e631600013_FR.pdf" target="_blank">FR - French</a> - e631600013 V 2016-04</li>
            <li class="french all"><a href="/pdf/e631600014/e631600014_FR.pdf" target="_blank">FR - French</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="french all"><a href="/pdf/e631600015/e631600015_FR.pdf" target="_blank">FR - French</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="italian all"><a href="/pdf/e631600011/e631600011_IT.pdf" target="_blank">IT - Italian</a> - e631600011 V 2013-08</li>
            <li class="italian all"><a href="/pdf/e631600013/e631600013_IT.pdf" target="_blank">IT - Italian</a> - e631600013 V 2016-04</li>
            <li class="italian all"><a href="/pdf/e631600014/e631600014_IT.pdf" target="_blank">IT - Italian</a> - e631600014 V 2017-01</li>
            -->
            <!--<li class="italian all"><a href="/pdf/e631600015/e631600015_IT.pdf" target="_blank">IT - Italian</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="dutch all"><a href="/pdf/e631600011/e631600011_NL.pdf" target="_blank">NL - Dutch</a> - e631600011 V 2013-08</li>
            <li class="dutch all"><a href="/pdf/e631600013/e631600013_NL.pdf" target="_blank">NL - Dutch</a> - e631600013 V 2016-04</li>
            <li class="dutch all"><a href="/pdf/e631600014/e631600014_NL.pdf" target="_blank">NL - Dutch</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="dutch all"><a href="/pdf/e631600015/e631600015_NL.pdf" target="_blank">NL - Dutch</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="norwegian all"><a href="/pdf/e631600011/e631600011_NO.pdf" target="_blank">NO - Norwegian</a> - e631600011 V 2013-08</li>
            <li class="norwegian all"><a href="/pdf/e631600013/e631600013_NO.pdf" target="_blank">NO - Norwegian</a> - e631600013 V 2016-04</li>
            <li class="norwegian all"><a href="/pdf/e631600014/e631600014_NO.pdf" target="_blank">NO - Norwegian</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="norwegian all"><a href="/pdf/e631600015/e631600015_NO.pdf" target="_blank">NO - Norwegian</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="portuguese all"><a href="/pdf/e631600011/e631600011_PT.pdf" target="_blank">PT - Portuguese</a> - e631600011 V 2013-08</li>
            <li class="portuguese all"><a href="/pdf/e631600013/e631600013_PT.pdf" target="_blank">PT - Portuguese</a> - e631600013 V 2016-04</li>
            <li class="portuguese all"><a href="/pdf/e631600014/e631600014_PT.pdf" target="_blank">PT - Portuguese</a> - e631600014 V 2017-01</li>
            -->
            <!--<li class="portuguese all"><a href="/pdf/e631600015/e631600015_PT.pdf" target="_blank">PT - Portuguese</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="swedish all"><a href="/pdf/e631600011/e631600011_SV.pdf" target="_blank">SV - Swedish</a> - e631600011 V 2013-08</li>
            <li class="swedish all"><a href="/pdf/e631600013/e631600013_SV.pdf" target="_blank">SV - Swedish</a> - e631600013 V 2016-04</li>
            <li class="swedish all"><a href="/pdf/e631600014/e631600014_SV.pdf" target="_blank">SV - Swedish</a> - e631600014 V 2017-01</li>-->
            
            <!--<li class="swedish all"><a href="/pdf/e631600015/e631600015_SV.pdf" target="_blank">SV - Swedish</a> - e631600015 V 2017-06</li>-->
            
<!--            <li class="turkish all"><a href="/pdf/e631600011/e631600011_TR.pdf" target="_blank">TR - Turkish</a> - e631600011 V 2013-08</li>
            <li class="turkish all"><a href="/pdf/e631600013/e631600013_TR.pdf" target="_blank">TR - Turkish</a> - e631600013 V 2016-04</li>
            <li class="turkish all"><a href="/pdf/e631600014/e631600014_TR.pdf" target="_blank">TR - Turkish</a> - e631600014 V 2017-01</li>
            -->
            <!--<li class="turkish all"><a href="/pdf/e631600015/e631600015_TR.pdf" target="_blank">TR - Turkish</a> - e631600015 V 2017-06</li>-->
            <li class="polish all"><a href="/pdf/e631600016/LBL-0022_PL.pdf" target="_blank">PL - Polish</a> - e631600016 V 2017-10</li>
                        <li class="danish all"><a href="/pdf/e631600016/LBL-0022_DA.pdf" target="_blank">DA - Danish</a> - e631600016 V 2017-10</li>
            

            <li class="german all"><a href="/pdf/e631600016/LBL-0022_DE.pdf" target="_blank">DE - German</a> - e631600016 V 2017-10</li>
            

            <li class="greek all"><a href="/pdf/e631600016/LBL-0022_EL.pdf" target="_blank">EL - Greek</a> - e631600016 V 2017-10</li>           


            <li class="english all"><a href="/pdf/e631600016/LBL-0022_EN.pdf" target="_blank">EN - English</a> - e631600016 V 2017-10</li>
            
     
            <li class="spanish all"><a href="/pdf/e631600016/LBL-0022_ES.pdf" target="_blank">ES - Spanish</a> - e631600016 V 2017-10</li>
            

            <li class="finnish all"><a href="/pdf/e631600016/LBL-0022_FI.pdf" target="_blank">FI - Finnish</a> - e631600016 V 2017-10</li>
            

            <li class="french all"><a href="/pdf/e631600016/LBL-0022_FR.pdf" target="_blank">FR - French</a> - e631600016 V 2017-10</li>            


            <li class="italian all"><a href="/pdf/e631600016/LBL-0022_IT.pdf" target="_blank">IT - Italian</a> - e631600016 V 2017-10</li>            


            <li class="dutch all"><a href="/pdf/e631600016/LBL-0022_NL.pdf" target="_blank">NL - Dutch</a> - e631600016 V 2017-10</li>
            

            <li class="norwegian all"><a href="/pdf/e631600016/LBL-0022_NO.pdf" target="_blank">NO - Norwegian</a> - e631600016 V 2017-10</li>
            

            <li class="portuguese all"><a href="/pdf/e631600016/LBL-0022_PT.pdf" target="_blank">PT - Portuguese</a> - e631600016 V 2017-10</li>
            

            <li class="swedish all"><a href="/pdf/e631600016/LBL-0022_SV.pdf" target="_blank">SV - Swedish</a> - e631600016 V 2017-10</li>
            

            <li class="turkish all"><a href="/pdf/e631600016/LBL-0022_TR.pdf" target="_blank">TR - Turkish</a> - e631600016 V 2017-10</li>
            
        </ul>
    </section>

    <section class="language-list language-list-two country-specific country-CN">
        
        <h1><!-- CN: english  -->CellSave Preservative Tube (IVD)<span class="title-info"> IFU - October 22, 2018</span></h1>
        <ul class="content-list">
            <li class="english CN"><a href="/pdf/e631600041/CHINA/e631600041_EN.pdf" target="_blank">EN - English</a></li>
            <li class="chinese CN"><a href="/pdf/e631600041/CHINA/e631600041_ZH.pdf" target="_blank">ZH - Chinese</a></li>
        </ul>


        <h1><!-- CN: english,chinese  -->CellSearch Circulating Tumor Cell Control Kit (IVD)<span class="title-info"> IFU - November 21, 2018</span></h1>
        <ul class="content-list">
            <li class="english CN"><a href="/pdf/e631600012/e631600012_EN_CHINA.pdf" target="_blank">EN - English</a></li>
            <li class="chinese CN"><a href="/pdf/e631600012/e631600012_ZH_CHINA.pdf" target="_blank">ZH - Chinese</a></li>
        </ul>

        <h1><!-- CN: english,chinese  -->CellSearch Circulating Tumor Cell Kit (Epithelial) (IVD)<span class="title-info"> IFU - November 8, 2018</span></h1>
        <ul class="content-list">
            <li class="english CN"><a href="/pdf/e631600002/e631600002_EN_CHINA.pdf" target="_blank">EN - English</a></li>
            <li class="chinese CN"><a href="/pdf/e631600002/e631600002_ZH_CHINA.pdf" target="_blank">ZH - Chinese</a></li>
        </ul>

    </section>







    
    <section class="language-list language-list-five country-not-specific country-not-CN">
        <h1><!-- NOT CN: EN  -->CELLSEARCH<sup>&reg;</sup> Circulating Tumor Cell Epithelial Kit (IVD)</h1>
        <ul class="content-list">

<!--            <li class="danish all"><a href="/pdf/e631600001/e631600001_DA.pdf" target="_blank">DA - Danish</a> - e631600001 V 2013-08</li>
            <li class="danish all"><a href="/pdf/e631600003/e631600003_DA.pdf" target="_blank">DA - Danish</a> - e631600003 V 2016-04</li>
            <li class="danish all"><a href="/pdf/e631600004/e631600004_DA.pdf" target="_blank">DA - Danish</a> - e631600004 V 2017-01</li>            -->
            <!--<li class="danish all"><a href="/pdf/e631600005/e631600005_DA.pdf" target="_blank">DA - Danish</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="german all"><a href="/pdf/e631600001/e631600001_DE.pdf" target="_blank">DE - German</a> - e631600001 V 2013-08</li>
            <li class="german all"><a href="/pdf/e631600003/e631600003_DE.pdf" target="_blank">DE - German</a> - e631600003 V 2016-04</li>
            <li class="german all"><a href="/pdf/e631600004/e631600004_DE.pdf" target="_blank">DE - German</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="german all"><a href="/pdf/e631600005/e631600005_DE.pdf" target="_blank">DE - German</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="greek all"><a href="/pdf/e631600001/e631600001_EL.pdf" target="_blank">EL - Greek</a> - e631600001 V 2013-08</li>
            <li class="greek all"><a href="/pdf/e631600003/e631600003_EL.pdf" target="_blank">EL - Greek</a> - e631600003 V 2016-04</li>
            <li class="greek all"><a href="/pdf/e631600004/e631600004_EL.pdf" target="_blank">EL - Greek</a> - e631600004 V 2017-01</li>-->
            <!--<li class="greek all"><a href="/pdf/e631600005/e631600005_EL.pdf" target="_blank">EL - Greek</a> - e631600005 V 2017-06</li>-->
            <!--<li class="greek all"><a href="/pdf/e631600006/e631600006_EL.pdf" target="_blank">EL - Greek</a> - e631600006 V 2017-10</li>-->
            

<!--            <li class="english all"><a href="/pdf/e631600001/e631600001_EN.pdf" target="_blank">EN - English</a> - e631600001 V 2013-08</li>
            <li class="english all"><a href="/pdf/e631600003/e631600003_EN.pdf" target="_blank">EN - English</a> - e631600003 V 2016-04</li>
            <li class="english all"><a href="/pdf/e631600004/e631600004_EN.pdf" target="_blank">EN - English</a> - e631600004 V 2017-01</li>-->

            <!--<li class="english all"><a href="/pdf/e631600005/e631600005_EN.pdf" target="_blank">EN - English</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="spanish all"><a href="/pdf/e631600001/e631600001_ES.pdf" target="_blank">ES - Spanish</a> - e631600001 V 2013-08</li>
            <li class="spanish all"><a href="/pdf/e631600003/e631600003_ES.pdf" target="_blank">ES - Spanish</a> - e631600003 V 2016-04</li>
            <li class="spanish all"><a href="/pdf/e631600004/e631600004_ES.pdf" target="_blank">ES - Spanish</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="spanish all"><a href="/pdf/e631600005/e631600005_ES.pdf" target="_blank">ES - Spanish</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="finnish all"><a href="/pdf/e631600001/e631600001_FI.pdf" target="_blank">FI - Finnish</a> - e631600001 V 2013-08</li>
            <li class="finnish all"><a href="/pdf/e631600003/e631600003_FI.pdf" target="_blank">FI - Finnish</a> - e631600003 V 2016-04</li>
            <li class="finnish all"><a href="/pdf/e631600004/e631600004_FI.pdf" target="_blank">FI - Finnish</a> - e631600004 V 2017-01</li>
            -->
            <!--<li class="finnish all"><a href="/pdf/e631600005/e631600005_FI.pdf" target="_blank">FI - Finnish</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="french all"><a href="/pdf/e631600001/e631600001_FR.pdf" target="_blank">FR - French</a> - e631600001 V 2013-08</li>
            <li class="french all"><a href="/pdf/e631600003/e631600003_FR.pdf" target="_blank">FR - French</a> - e631600003 V 2016-04</li>
            <li class="french all"><a href="/pdf/e631600004/e631600004_FR.pdf" target="_blank">FR - French</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="french all"><a href="/pdf/e631600005/e631600005_FR.pdf" target="_blank">FR - French</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="italian all"><a href="/pdf/e631600001/e631600001_IT.pdf" target="_blank">IT - Italian</a> - e631600001 V 2013-08</li>
            <li class="italian all"><a href="/pdf/e631600003/e631600003_IT.pdf" target="_blank">IT - Italian</a> - e631600003 V 2016-04</li>
            <li class="italian all"><a href="/pdf/e631600004/e631600004_IT.pdf" target="_blank">IT - Italian</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="italian all"><a href="/pdf/e631600005/e631600005_IT.pdf" target="_blank">IT - Italian</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="dutch all"><a href="/pdf/e631600001/e631600001_NL.pdf" target="_blank">NL - Dutch</a> - e631600001 V 2013-08</li>
            <li class="dutch all"><a href="/pdf/e631600003/e631600003_NL.pdf" target="_blank">NL - Dutch</a> - e631600003 V 2016-04</li>
            <li class="dutch all"><a href="/pdf/e631600004/e631600004_NL.pdf" target="_blank">NL - Dutch</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="dutch all"><a href="/pdf/e631600005/e631600005_NL.pdf" target="_blank">NL - Dutch</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="norwegian all"><a href="/pdf/e631600001/e631600001_NO.pdf" target="_blank">NO - Norwegian</a> - e631600001 V 2013-08</li>
            <li class="norwegian all"><a href="/pdf/e631600003/e631600003_NO.pdf" target="_blank">NO - Norwegian</a> - e631600003 V 2016-04</li>
            <li class="norwegian all"><a href="/pdf/e631600004/e631600004_NO.pdf" target="_blank">NO - Norwegian</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="norwegian all"><a href="/pdf/e631600005/e631600005_NO.pdf" target="_blank">NO - Norwegian</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="portuguese all"><a href="/pdf/e631600001/e631600001_PT.pdf" target="_blank">PT - Portuguese</a> - e631600001 V 2013-08</li>
            <li class="portuguese all"><a href="/pdf/e631600003/e631600003_PT.pdf" target="_blank">PT - Portuguese</a> - e631600003 V 2016-04</li>
            <li class="portuguese all"><a href="/pdf/e631600004/e631600004_PT.pdf" target="_blank">PT - Portuguese</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="portuguese all"><a href="/pdf/e631600005/e631600005_PT.pdf" target="_blank">PT - Portuguese</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="swedish all"><a href="/pdf/e631600001/e631600001_SV.pdf" target="_blank">SV - Swedish</a> - e631600001 V 2013-08</li>
            <li class="swedish all"><a href="/pdf/e631600003/e631600003_SV.pdf" target="_blank">SV - Swedish</a> - e631600003 V 2016-04</li>
            <li class="swedish all"><a href="/pdf/e631600004/e631600004_SV.pdf" target="_blank">SV - Swedish</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="swedish all"><a href="/pdf/e631600005/e631600005_SV.pdf" target="_blank">SV - Swedish</a> - e631600005 V 2017-06</li>-->
            

<!--            <li class="turkish all"><a href="/pdf/e631600001/e631600001_TR.pdf" target="_blank">TR - Turkish</a> - e631600001 V 2013-08</li>
            <li class="turkish all"><a href="/pdf/e631600003/e631600003_TR.pdf" target="_blank">TR - Turkish</a> - e631600003 V 2016-04</li>
            <li class="turkish all"><a href="/pdf/e631600004/e631600004_TR.pdf" target="_blank">TR - Turkish</a> - e631600004 V 2017-01</li>-->
            
            <!--<li class="turkish all"><a href="/pdf/e631600005/e631600005_TR.pdf" target="_blank">TR - Turkish</a> - e631600005 V 2017-06</li>-->

            <li class="danish all"><a href="/pdf/e631600006/e631600006_DA.pdf" target="_blank">DA - Danish</a> - e631600006 V 2017-10</li>
            

            <li class="german all"><a href="/pdf/e631600006/e631600006_DE.pdf" target="_blank">DE - German</a> - e631600006 V 2017-10</li>
            

            <li class="greek all"><a href="/pdf/e631600006/e631600006_EL.pdf" target="_blank">EL - Greek</a> - e631600006 V 2017-10</li>            


            <li class="english all"><a href="/pdf/e631600006/e631600006_EN.pdf" target="_blank">EN - English</a> - e631600006 V 2017-10</li>
            
     
            <li class="spanish all"><a href="/pdf/e631600006/e631600006_ES.pdf" target="_blank">ES - Spanish</a> - e631600006 V 2017-10</li>
            

            <li class="finnish all"><a href="/pdf/e631600006/e631600006_FI.pdf" target="_blank">FI - Finnish</a> - e631600006 V 2017-10</li>
            

            <li class="french all"><a href="/pdf/e631600006/LBL-0018_FR_jb (2).pdf" target="_blank">FR - French</a> - e631600006 V 2017-10</li>             
            <li class="polish all"><a href="/pdf/e631600006/LBL-0018_PL.pdf" target="_blank">PL - Polish</a> - e631600006 V 2017-10</li>

            <li class="italian all"><a href="/pdf/e631600006/e631600006_IT.pdf" target="_blank">IT - Italian</a> - e631600006 V 2017-10</li>            


            <li class="dutch all"><a href="/pdf/e631600006/e631600006_NL.pdf" target="_blank">NL - Dutch</a> - e631600006 V 2017-10</li>
            

            <li class="norwegian all"><a href="/pdf/e631600006/e631600006_NO.pdf" target="_blank">NO - Norwegian</a> - e631600006 V 2017-10</li>
            

            <li class="portuguese all"><a href="/pdf/e631600006/e631600006_PT.pdf" target="_blank">PT - Portuguese</a> - e631600006 V 2017-10</li>
            

            <li class="swedish all"><a href="/pdf/e631600006/e631600006_SV.pdf" target="_blank">SV - Swedish</a> - e631600006 V 2017-10</li>
            

            <li class="turkish all"><a href="/pdf/e631600006/e631600006_TR.pdf" target="_blank">TR - Turkish</a> - e631600006 V 2017-10</li>
            

        </ul>
    </section>

    <div class="it prompt pt">
        <div class="prompt-one">
            <p>L'accesso alle suddette pagine del sito è riservato esclusivamente ai medici, ai professionisti sanitari e agli altri operatori sanitari in conformità all'art.21 del D.Lgs. 46/97 e all'art. 14 del D.Lgs. 219/2006 e successive modifiche.</p>
            <p>Confermo con ciò che sono un Professionista Sanitario.</p>
            <p>
                <button class="accept" value="italian">Accetto</button>
                <button class="reject" value="italian">Non Accetto</button>
            </p>
        </div>
        <div class="reject-message hide">
            <p>L'accesso alle suddette pagine del sito è riservato esclusivamente ai medici, ai professionisti sanitari e agli altri operatori sanitari in conformità all'art.21 del D.Lgs. 46/97 e all'art. 14 del D.Lgs. 219/2006 e successive modifiche.</p>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="adobe"> If you have any difficulty viewing a PDF, please download the PDF to your computer and view it using Adobe<sup>&reg;</sup> Reader<sup>&reg;</sup>. <a href="http://get.adobe.com/reader/" target="_blank">Download the free Adobe<sup>&reg;</sup> Reader<sup>&reg;</sup> software. </a></div>
    <div class="circles"></div>
    <footer>
        <div style="float:left;height:1px;background-color:#000;" class="bar"></div>
      <div class="footerLeft">
        <p class="copyright">&copy; Menarini Silicon Biosystems Inc 2022. All rights reserved. This site is published by Menarini Silicon Biosystems, Inc, which is solely responsible for its contents. It is intended for global audience. Last updated on: November 18, 2022.</p>
        <div class="footer-links-wrapper">
                <ul class="footer-links-list">
                    <li><a href="https://www.cellsearchctc.com/terms-use" class="footer-links">Terms of Use</a></li>
                    <li><a href="https://www.cellsearchctc.com/privacy-policy" class="footer-links">Privacy Policy</a></li>
                    <li><a href="https://www.cellsearchctc.com/cookie-policy" class="footer-links">Cookie Policy</a></li>
                    <li><a href="https://www.cellsearchctc.com/contact-us" class="footer-links">Contact Us</a></li>
                </ul>
            </div>
    </div>

    <div class="footerRight">
 
            <a href="https://www.siliconbiosystems.com/"><img style="height:auto;margin-left:20px;top:25px;position:relative;" src="images/menarini_logo.png" class="janssen" /></a>
 
    </div>
    <!-- OneTrust Cookies Settings button start -->

<button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>

<!-- OneTrust Cookies Settings button end -->
        
    </footer> 
</div> 
 
 
</body>
</html>